@import "settings";
@import "foundation/components/grid";

$red: #E5563D;
$blue: #14D2D9;
$light-blue: #5AB3EB;
$dark-blue: #35455C;
$green: #04E858;
$white: #ffffff;

$bold: 700;
$semibold: 600;
$regular: 400;
$light: 300;


body {
  font-family: 'Open Sans', sans-serif;
  font-weight: $regular;
}


#intro {
  background-color: $light-blue;
  padding-bottom: 100px;
}

#call-to-action{
 @include grid-row();
}

#action-bar {
  @include grid-column(12);

  padding-top: 25px;

  text-align: right;

  #purchase, #samples {
    text-transform: uppercase;
    text-decoration: none;
    color: $white;
    font-weight: $semibold;
    font-size: 22px;

    @include radius(8px);
    padding: 5px 15px;
  }

  #purchase {
    margin-right: 35px;
    border: 3px solid $white;

    &:hover {
      border-color: $light-blue;
      color: $light-blue;
      background-color: $white;
    }
  }

  #samples:hover {
    color: $light-blue;
    background-color: $white;
  }
}

#header-container {
  text-align: center;

  @include grid-row();

  header {
    @include grid-column(12);
    padding-top: 50px;

    #header-intro {
      color: $white;
      font-weight: $semibold;
      font-size: 40px;
    }

    #soundKit-logo {
      padding-top: 30px;
    }

    #soundKit-tagline {
      padding-top: 5px;

      font-size: 26px;
      color: $white;
    }
  }
}

#summary-container {
  @include grid-row();
  padding-top: 90px;

  #summary {
    @include grid-column(12);
    padding-top: 30px;

    @media #{$large-up} {
      @include grid-column($columns:8, $pull:4);
    }
  }

  #summary-header {
    font-size: 32px;
    font-weight: $bold;
    color: $white;

    line-height: 40px;
    margin-bottom: 20px;
  }

  #summary-details {
    color: $white;
    font-size: 24px;
    font-weight: $light;

    line-height: 33px;
  }

  #summary-iphone {
    @include grid-column(12);
    text-align: center;

    @media #{$large-up} {
      @include grid-column($columns:4, $push:8);
    }
  }
}

section.teaser-sounds {
  background-color: $white;
  padding-top: 125px;
  padding-bottom: 40px;
}

div.teaser-sounds {
  text-align: center;
  @include grid-row();

  #alert-teaser, #musical-tones-teaser, #inputs-teaser {
    @include grid-column(12);

    @media #{$large-up} {
      @include grid-column(4);
    }
  }

  h4 {
    color: $red;
    font-weight: $light;
    font-size: 28px;
    margin: 20px 0 40px;
  }
  p {
    color: $red;
    font-size: 16px;
    text-align: center;
    padding-bottom: 45px;
  }

  #icon-promise {
    @include grid-column(12);

    color: $red;

    font-weight: $regular;
    font-style: italic;
    font-size: 26px;

    text-align: center;
  }
}

section.icon-value {
  background-color: $dark-blue;
  padding-top: 120px;
  padding-bottom: 120px;
}

div.icon-value {
  @include grid-row();

  #ipad-value {
    @include grid-column(12);
    text-align: center;

    @media #{$large-up} {
      @include grid-column(5);
    }
  }

  #value-description {
    @include grid-column(12);

    text-align: left;
    padding-top: 10px;

    @media #{$large-up} {
      @include grid-column(7);
    }

    h2 {
      padding-left: 20px;

      color: $white;
      font-size: 32px;
      font-weight: $bold;

      line-height: 40px;

      @media #{$large-up} {
        width: 400px;
      }
    }

    p {
      padding-left: 20px;

      font-weight: $light;
      font-size: 24px;
      color: $white;

      line-height: 33px;

      @media #{$large-up} {
        width: 500px;
      }
    }
  }
}

section.audio-details {
  background-color: $white;
  padding-top: 100px;
}

div.audio-details {
  @include grid-row();

  .audio-detail {
    @include grid-column(12);

    text-align: center;

    color: $red;

    @media #{$large-up} {
      @include grid-column(6);
    }

    h3 {
      font-weight: $light;
      font-size: 28px;

      margin: 23px 0 37px;
    }

    p {
      font-weight: $light;
      font-size: 16px;
      padding-bottom: 80px;

      @media #{$large-up} {
        padding: 0 69px 80px;
      }
    }
  }
}

section.sample-sounds {
  padding: 70px 0 90px;
  background-color: $light-blue;
}

div.sample-sounds {
  @include grid-row();

  #sample-headline {
    text-align: center;
    padding-bottom: 40px;

    h2 {
      font-weight: $light;
      font-size: 40px;
      color: $white;
    }
  }

  .sample-sound-container {
    text-align: center;
  }

  .sample-sound {
    @include radius(6px);
    border: solid $white 3px;

    width: 300px;
    padding: 15px 0;
    margin: 0 7px 20px 0;

    color: white;
    font-size: 20px;

    background-color: transparent;
    outline: none;
    cursor: pointer;

    &:hover {
      border-color: $light-blue;
      color: $light-blue;
      background-color: $white;
    }
  }
}

section.purchase-now {
  padding: 120px 0 100px;
}

div.purchase-now{
  @include grid-row();

  text-align: center;

  #purchase-headline {
    text-align: center;
    margin-bottom: 70px;

    h2 {
      max-width: 500px;
      margin: 0 auto;

      color: $red;
      font-size: 42px;
      font-weight: $semibold;
    }
  }

  #purchase {
    padding: 20px 50px;

    @include radius(8px);
    border: solid 4px $red;
    color: $red;

    text-transform: uppercase;
    text-decoration: none;

    font-size: 34px;
    font-weight: $semibold;
  }

  #delivery-info {
    font-size: 16px;
    font-weight: $light;

    color: $red;
    margin-top: 75px;
  }
}

section.sound-list {
  background-color: $red;
  cursor: pointer;
}

div.sound-list {
  @include grid-row();

  #list-header {
    text-align: center;

    h2 {
      color: $white;
      font-weight: $light;
      font-size: 40px;

      margin: 30px 0 25px;
    }
  }

  #full-sound-list {
    text-align: center;
    display: none;

    table {
      display: inline-block;
      text-align: left;

      td {
        width: 25%;
      }
    }
  }
}

section.about-soundkit {
  background-color: $dark-blue;
  padding-bottom: 20px;
}

div.about-soundkit {
  @include grid-row();

  #about-header {
    text-align: center;

    h3 {
      color: $white;
      font-size: 32px;
      font-weight: $regular;

      margin: 20px 0 25px;
    }
  }

  #soundkit-background {
    margin: 0 75px;
    font-size: 16px;
    font-weight: $light;

    color: $white;
  }
}


section.footer {
  margin: 40px 0 60px;

}

div.footer {
  @include grid-row();

  color: $red;
  font-size: 14px;
  font-weight: $regular;
  font-style: italic;

  #copyright {
    float: right;
  }

  #legal {
    float: left;

    a {
      color: $red;
      font-style: normal;
    }
  }

}
